@import url("https://fonts.googleapis.com/css2?family=Short+Stack&display=swap");

/* @import url('https://fonts.cdnfonts.com/css/choco-cooky'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

// set the font family
@font-face {
  font-family: "Choco Cooky";
  src: url("../fonts/Choco_Cooky.ttf");
}

* {
  font-family: "Short Stack", cursive;
}
